:root {
  --black: #000;
  --bondi-blue: #00afb1;
  --tory-blue: #0f5b99;
  --fountain-blue: #4eb6b6;
  --valhalla: #271554;
  --shuttle-gray: #5c6570;
  --gray: #e6e9eb;
  --porcelain: #f6f8f9;
  --white: #fff;
}
